@model IEnumerable<Ecommerce_proiect_an4_sem1.Models.StockEntry>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <caption></caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.RemainingStock)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StockId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StockId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StockId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
